<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>后台管理系统</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
    <!--引入 element-ui 的样式，-->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 必须先引入vue，  后使用element-ui -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <!-- 引入element 的组件库-->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

    <script th:src="@{/js/jquery-2.2.3.min.js}"></script>
    <script type="text/javascript"></script>

    <script>
        window.onload = function () {
            var oSpan = document.getElementById("span_1");
            var oDrop = document.getElementById("ul_1");
            var style = oDrop.style;
            oSpan.onclick = function () {
                style.display = style.display == "block" ? "none":"block"
            };
        }
    </script>

</head>

<body id="app" style="margin: 0px;width: 100%;background-color: #545c64">
<!--左边菜单栏-->
<div class="el-aside" style="width: 120px;height: 100%">
    <ul class="el-menu-vertical el-menu" style="background-color: #545c64">
        <li class="el-menu-item is-disabled" style="background-color: #545c64"></li>
        <li class="el-menu-item is-active" style="padding-left: 20px">
            <a href="index.html" style="color: #5ab1ef">
                <i class="el-icon-s-home"></i>
                <span>首页</span>
            </a>
        </li>
        <li class="el-menu-item" style="color: white;padding-left: 20px">
            <a href="merchant">
                <i class="el-icon-s-shop"></i>
                <span>商家</span>
            </a>
        </li>
        <li class="el-menu-item" style="color: white;padding-left: 20px">
            <a href="user">
                <i class="el-icon-user"></i>
                <span>用户</span>
            </a>
        </li>
        <li class="el-menu-item" style="color: white;padding-left: 20px">
            <a href="rider">
                <i class="el-icon-s-custom"></i>
                <span>骑手</span>
            </a>
        </li>
        <li class="el-menu-item" style="color: white;padding-left: 20px">
            <a href="statistics">
                <i class="el-icon-document"></i>
                <span>统计</span>
            </a>
        </li>
        <li class="el-menu-item" style="color: white;padding-left: 20px">
            <a href="manager">
                <i class="el-icon-s-marketing"></i>
                <span>管理</span>
            </a>
        </li>
    </ul>
</div>
<!--右边-->
<div>
    <!--头部-->
    <div class="el-header" style="height: 60px;border-bottom: #606266 1px solid;background-color: white">
        <div class="header">
            <div class="head" style="margin-right: 20px">
                    <span id="span_1" class="head-img">
                        <img th:src="@{/img/sc.jpg}">
                    </span>
                <div class="setlist" >
                    <ul class="dropdown" id="ul_1" style="z-index: 999">
                        <li><a href="manager"> 管理员信息 </a></li>
                        <li><a th:href="@{/manager/logout}">退出登录</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--主体-->
    <div class="el-main" style="height: 100%; background-color: #cccccc; margin: 0;padding: 0">
        <div style="background-color: #f5f7f9;margin: 0;padding: 20px">
            <!--上部分-->
            <div class="el-row" style="display: block" >
                <div class="el-col" style="width: 25%; padding-left: 10px;padding-right: 10px;padding-top: 20px">
                    <div class="text">
                        <div class="text_01">
                            <div>订单数量</div>
                        </div>
                        <div class="text_02">
                            <div>
                                <span>-</span>&nbsp;&nbsp;
                                <span th:text="${orderCount}" style="font-size: 28px"></span>
                                &nbsp;&nbsp;<span>-</span>
                                <br><br><br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="el-col" style="width: 25%; padding-left: 10px;padding-right: 10px;padding-top: 20px">
                    <div class="text">
                        <div class="text_01">
                            <div>商家数量</div>
                        </div>
                        <div class="text_02">
                            <div>
                                <span>-</span>&nbsp;&nbsp;
                                <span th:text="${businessCount}" style="font-size: 28px"></span>
                                &nbsp;&nbsp;<span>-</span>
                                <br><br><br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="el-col" style="width: 25%; padding-left: 10px;padding-right: 10px;padding-top: 20px">
                    <div class="text">
                        <div class="text_01">
                            <div>用户数量</div>
                        </div>
                        <div class="text_02">
                            <div>
                                <span>-</span>&nbsp;&nbsp;
                                <span th:text="${userCount}" style="font-size: 28px"></span>
                                &nbsp;&nbsp;<span>-</span>
                                <br><br><br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="el-col" style="width: 25%; padding-left: 10px;padding-right: 10px;padding-top: 20px">
                    <div class="text">
                        <div class="text_01">
                            <div>骑手数量</div>
                        </div>
                        <div class="text_02">
                            <div>
                                <span>-</span>&nbsp;&nbsp;
                                <span th:text="${riderCount}" style="font-size: 28px"></span>
                                &nbsp;&nbsp;<span>-</span>
                                <br><br><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--下部分-->
            <div></div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
    </div>
</div>
</body>
</html>